
h1{
font-family: 'establish Retrosans OTF';
font-style: normal;
}

body {
margin: 10px;
font-size: 14px;
}
.logo{
position: absolute;
width: 185px;
height: 34px;
left: 60px;
top: 25px;
}

.navbar_navbar{
position: relative;
width: 752px;
height: 85px;
left: 0px;
top: 0px;
background: #FD72FC;
}

.where {
  display: block;
  margin: 25px 15px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
} 

select {
  width: 200px;
  padding: .8em .5em;
  font-family: inherit;
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #999;
  border-radius: 10px;
}

p{
display: inline-block;
vertical-align: middle;
position: absolute;
width: 84px;
height: 22px;
left: 1054px;
top: 31px;

font-family: 'establish Retrosans OTF';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
/* identical to box height */
color: #FFFFFF;
}

button{
  width:120px;
  height:40px;
  color:#FFFFFF;
  background: #3D26DF;
  font-size:16px;
  border:none;
  border-radius:10px;
  box-shadow:0 4px 16px rgba(0,79,255,0,3);
  transition: 0.3s;
  position: absolute;
  top:80%;

}

.input1{
  width:300px;
  height:50px;
}

.input2{
  width:100px;
  height:55px;
}